  <section class="profile-section">
    <div class="profile-container">
      <h1 class="profile-name">{{ user.name }}</h1>
      <p class="profile-description">I have ordered x times, in x value in the span of x time.</p>
    </div>
  </section>

<div class="card-holder">
<mat-card class="edit-profile-card">
  <mat-toolbar color="primary">
    <mat-icon>person</mat-icon>
    <span>Edit Profile</span>
  </mat-toolbar>


  <form #profileForm="ngForm" (ngSubmit)="onSave(user)">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="user.email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mobile Phone</mat-label>
      <input matInput type="tel" name="phone" [(ngModel)]="user.phone" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="user.password" required>
    </mat-form-field>

    <mat-divider class="my-3"></mat-divider>

    <button mat-raised-button color="accent" type="submit">
      <mat-icon>save</mat-icon> Save Profile Changes
    </button>
  </form>
</mat-card>


    <mat-card class="edit-address-card ">
      <mat-toolbar color="primary">
        <mat-icon>mail</mat-icon>
        <span>Edit Address</span>
      </mat-toolbar>

      <form (ngSubmit)="onSaveAdress(addressToUpdate)" #addressForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Street Address</mat-label>
          <input matInput type="text" id="address" name="street" [(ngModel)]="addressToUpdate.street" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>City</mat-label>
          <input matInput type="text" id="city" name="city" [(ngModel)]="addressToUpdate.city" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput type="text" id="postalCode" name="postalcode" [(ngModel)]="addressToUpdate.postalcode" required>
        </mat-form-field>
        
        <mat-divider class="my-3"></mat-divider>
  
        <div class="form-group">
          <button mat-raised-button color="accent" type="submit" [disabled]="!addressForm.valid">
            <mat-icon>save</mat-icon> Save Address Changes
          </button>
        </div>
      </form>
    </mat-card>
 </div> 
